
body{
background:gray;
color:white;
}

table{
	margin:5%;
	align-items: center;
}

th{
	font-size: large;
}

td{
	margin: 20px;
	align-items: center;
}

.grid-container {
	display: grid;
	column-gap: 50px;
  }


/* needs to sit still and not update aka fixed height*/
.messege_board{
background:dimgray;
margin:0 auto;
height:500px;
width:40%;
}

/*contains only the messege field. should be able to scroll*/
.messege_area{
	height:100%;
	width:100%;
	overflow-y:scroll;

}

#packgarea{
	height: 100%;
	width: 50%;
	position: relative;
}
#uploadField{
	height: 100%;
	width: 50%;
	position: relative;
}

#listDownload{
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}

/*just contains the messeges*/
#messege_field >p{
margin:5px;

}

#txtibnpu{
	width:100%;
}

