
body{
background:#cccccc;
color:#414141;
}

table{
	margin:20px;
	padding: 20px;
}

th{
	font-size: large;
}

td{
	align-items: center;
}

.listDownloads{
	background:#cccccc;
	color:#414141;
	margin:0;
	padding:0;
}

.grid-item3{
	margin-left: 20px;
	margin-top: 20px;
}
.grid-item4{
	margin-left: 20px;
	margin-top: 20px;
}


