
body{
background:gray;
color:white;
}

table{
	margin:20px;
	padding: 20px;
}

th{
	font-size: large;
}

td{
	align-items: center;
}

.grid-item3{
	margin-left: 20px;
	margin-top: 20px;
}
.grid-item4{
	margin-left: 20px;
	margin-top: 20px;
}

#listDownload{
	padding: 20; 
	margin: 10; 
}


